# Build and Release Folders
cmake-build-debug/
bin-release/
cmake-build-debug_wls/
gtest/
gtest/lib
gtest/include
gtest/include/gtest
gtest/include/gtest/internal
.idea/
[Oo]bj/
[Bb]in/

# Other files and folders

# Executables

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/gtest/
